<ul id="memes">
<% @memes.each do |meme| %>
  <li class="meme">
  <p class="meme_title"><%= meme.title %></p>
  <p class="meme_description"><%= meme.description %></p>
  <p class="meme_image_container">
    <img class="meme_image" src="<%= meme.image.url %>" />
  </p>
  </li>
<% end %>
</ul>